.bordprof1 {
  top: 21%;
  left: 37%;
  position: absolute;
  border: 5px solid #cc7503;
  box-shadow: 0px 0px 30px rgba(255, 62, 28, 0.8);
  width: 25vw;
  border-radius: 4%;
  min-height: 25vw;
  transform: rotate(45deg);


}

.bordprofliu {
  top: 22%;
  left: 38%;

  position: absolute;
  border: 5px solid #cc7503;
  box-shadow: 0px 0px 30px rgba(255, 62, 28, 0.8);
  width: 23vw;
  border-radius: 50%;
  min-height: 23vw;
  transform: rotate(45deg);

}

.bordprofer {
  top: 5%;
  left: 44%;
  position: absolute;

  border: 5px solid #ff0000;

  box-shadow: 0px 0px 30px rgba(206, 255, 28, 0.8);
  width: 10vw;
  height: 10vw;

  transform: rotate(45deg);
}

.bordprofsan {
  top: 30%;
  left: 65%;
  position: absolute;
  display: flex;
  border: 5px solid #ff0000;

  box-shadow: 0px 0px 30px rgba(206, 255, 28, 0.8);
  width: 10vw;
  height: 10vw;

  transform: rotate(45deg);
}

.bordprofshi {
  top: 56%;
  left: 45%;
  position: absolute;
  display: flex;
  border: 5px solid #ff0000;

  box-shadow: 0px 0px 30px rgba(206, 255, 28, 0.8);
  width: 10vw;
  height: 10vw;

  transform: rotate(45deg);
}

.bordprofwu {
  top: 30%;
  left: 24%;
  position: absolute;
  display: flex;
  border: 5px solid #ff0000;

  box-shadow: 0px 0px 30px rgba(206, 255, 28, 0.8);
  width: 10vw;
  height: 10vw;

  transform: rotate(45deg);
}

.conpro1 {
  height: auto;
  min-height: 60vw;
  background-color: #1c0069;
}

.condet1 {
  height: auto;
  min-height: 50vw;
  background-color: #070844;

}

.conriw1 {
  height: auto;
  min-height: 50vw;
  background-color: #20043b;
}

.jima1 {
  position: absolute;

  border: 5px solid #FFD700;
  box-shadow: 0px 0px 30px rgb(255, 215, 0, 0.8);
  width: 25vw;
  height: 25vw;



}

.App {

  text-align: start;
  min-height: 100vh;
}


.jima22 {

  border: 5px solid #FFD700;
  box-shadow: 0px 0px 30px rgb(255, 215, 0, 0.8);
  width: 25vw;
  height: 25vw;

  transform: rotate(45deg);
}

.Layerz {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  background-color: rgb(0, 0, 102);
}

.ProfYerz {
  position: relative;

  justify-content: start;
  align-items: start;
  padding: 2rem 1rem;
  background-color: #1c0069;
}

.ContactYerz {
  position: relative;

  justify-content: start;
  align-items: start;
  padding: 2rem 1rem;
  background-color: #1c0069;
}

.ProjYerz {
  padding: 1rem 1rem;
  background-color: #1c0069;
  position: relative;
  justify-content: center;
  align-items: center;

}

.AboMeYerz {
  position: relative;

  justify-content: start;
  align-items: start;
  padding: 2rem 1rem;
  background-color: #1c0069;
}

.rowdeskleft {
  width: 20vw;
  height: 50vw;
  background-color: rgb(3, 6, 185);
}

.CardDesk {
  width: 40vw;
  height: 50vw;
  background-color: rgb(3, 6, 185);
}

.rowdeskright {
  width: 20vw;
  height: 50vw;
  background-color: rgb(3, 6, 185);
}



.rowmoblleft {
  width: 20vw;
  height: 50vw;
  background-color: rgb(87, 0, 168);
}

.CardMobl {
  width: 40vw;
  height: 50vw;
  background-color: rgb(87, 0, 168);
}

.rowmoblright {
  width: 20vw;
  height: 50vw;
  background-color: rgb(87, 0, 168);
}

@media screen and (min-width : 990px) {
  .rowdeskleft{
    width: 50vw;
    height: 40vw;
  }
  .CardDesk {
    width: 200vw;
    height: 40vw;
  }
  .rowdeskright{
    width: 50vw;
    height: 40vw;
  }
  
  .rowmoblleft{
    width: 50vw;
    height: 40vw;
  }
  .CardMobl {
    width: 200vw;
    height: 40vw;
  }
  .rowmoblright{
    width: 50vw;
    height: 40vw;
  }
}